@import "config";


.App {

    display: flex;
    flex-direction: row;
    height: 100%;
    color: $fg-dark;

    h1, h2 {
        font-weight: bold;
        opacity: .5;
        padding: 0;
        margin: 0;
    }

    .tool-area {
        flex-grow: 1;
        flex-shrink: 0;
        width: 200px;
        background: $bg-tool;
        padding: 1rem 2rem;

        display: flex;
        flex-direction: column;

        h1{
            margin-bottom: 1rem;
        }
        h2{
            margin-bottom: 3rem;
        }
    }

    a {
        text-decoration: none;
        &:hover{
            text-decoration: underline;
        }
    }

    .scratchPad{
        flex-grow: 1;
        flex-shrink: 1;
        width: 200px;
        background: $bg-text;
        color: $fg-light;
        padding: .5rem;
        display: flex;
        flex-direction: column;

        h2 {
            margin-bottom: .5rem;
            margin-left: 10px;
        }
    }

}

nav {
    flex-grow: 0;
    flex-shrink: 2;
    width: 6rem;
    background: $bg-nav;
    padding: 2rem;

    h2 {
       margin-top: 1.5rem !important;
    }

    ul {
        margin: .5rem 0;
        padding: 0;
    }
    li {
        margin: 0 0 .5rem;
        padding: 0;
        list-style: none;
    }

}


@import './tools/Tool';
